<!--

<h1>Create a new cocktail</h1>

<%= simple_form_for @cocktail do |f| %>
  <%= f.input :name %>
  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %> -->
<div class="container mt-4">
  <div class="row">
    <div class="col-6 m-auto">
      <div class="flat-form">
        <h1>Create a new cocktail</h1>
        <div class="mt-3">
          <%= simple_form_for @cocktail do |f| %>
            <%= f.input :name %>
            <%= f.button :submit, class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
