<h1><%= @cocktail.name %></h1>
<h1><% @cocktail.doses.each do |dose| %></h1>
  <h1><%= dose.ingredient.name %></h1>
  <h1><%= dose.description %></h1>
<%= link_to "new dose", new_cocktail_dose_path(@cocktail) %>
<%= link_to "Back to all cocktails", root_path %>
<% end %>
